<div class="studentdetails">
  
        <label for="name">Name:</label>  

        <input type="text" name="name" id="name" #name placeholder="Enter the Students names">
        <label for="feesbalance" >School Fess Balance:</label>
        <input type="text" id="feesbalance" #balance placeholder="Enter the School fess Balance ">
        <label for="details">Details</label>
        <input type="text" #details placeholder="Enter Details" >
        <button (click)="addStudent(name,balance,details)" >Add Student</button>
 
  
   </div>
   <div *ngIf="data.length>0 ; else nodata ">
 <div class="studentes" *ngFor="let student of data" >
    <h1>{{student.name}}</h1>
    <p>{{student.balance}}</p>
    <p>{{student.details}}</p>


    <!-- <button onclick="deleteStudent()">Delete</button>
    <button onclick="updateStudent()"></button> -->

    <!-- <h1>simon muturi</h1>
    <p>2000</p>
    <p>captain</p>
    

    <h1>simon muturi</h1>
    <p>2000</p>
    <p>captain</p>


    <h1>simon muturi</h1>
    <p>2000</p>
    <p>captain</p>

    <h1>simon muturi</h1>
    <p>2000</p>
    <p>captain</p>

    <h1>simon muturi</h1>
    <p>2000</p>
    <p>captain</p> -->
 </div>
   </div>
<ng-template #nodata> <p>Enter Students</p></ng-template>